 {{! Ventana de inicio del CRUD}}
<main class="mt5">
    <div class="container">
        <div class="card mx-auto" style="width:500px;">
            <div class="card header">
                <img class="card-img-top mx-auto m-2" src="/img/logo.jpg" alt="logo" 
                style="width:150px ; height:150px;display:block">
                <h3 class="text-uppercase text-center p-4" >
                    <b>CRUD con Node Js y Mysql</b>
                </h3>
            </div>
            <div class="card-body text-center">
                <p>Create Read Update & Delete en español la traducción sería Crear, Leer, Actualizar y Eliminar
                    Los proyectos CRUD son la base de los sistemas de información, permiten al usuario gestionar
                    los datos.
                    Crear un CRUD nos ayuda a construir una base sólida para el lenguaje o framework que estemos
                    aprendiendo.
                </p>
                <a href="/add" class="btn btn-primary">Crear un registro</a>
            </div>
        </div>
    </div>
</main>